<app-header id="header"></app-header>

<div id="activity-book">
  <div class="SkewBox">
    <img
      id="ActiHeader"
      src="../../../assets/img/activity/ActivityHeader.svg"
      alt=""
    />
    <img
      id="SquashActiHeader"
      src="../../../assets/img/activity/SquashActivityHeader.svg"
      alt=""
    />
    <img
      id="SolidBlue"
      src="../../../assets/img/activity/BlueSolid.svg"
      alt=""
    />
    <a href="../../../assets/img/activity/nascar-activity-book-b&w-all.pdf"
      ><img
        id="HollowBlue"
        src="../../../assets/img/activity/SelectAllButton.svg"
        alt=""
    /></a>
  </div>
  <div class="PdfGrid">
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_02.pdf"
        ><img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W7.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_08.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W3.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_04.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W4.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_05.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W5.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_06.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W6.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_07.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W8.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_09.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
    <div class="ImageContainer">
      <img
        src="../../../assets/img/activity/NASCAR-Activity Book-B&W_02.svg"
        alt=""
      />
      <a href="../../../assets/img/activity/NASCAR-Activity Book-B&W_03.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
